.main {
  margin-top: 30px;
}

.main h1 {
  padding-left: 5%;
  margin-top: 100px;
  text-decoration: underline var(--text-underline) 10px;
}

.hide {
  display: none;
}

/* Section Cards */
.cardsContainer {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 5%;
  padding-right: 5%;
  color: var(--text-black);
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  width: 90%;
}

.cardsContainer .card {
  border: 1px solid var(--border-black);
  border-radius: 20px;
  background: var(--bg-white);
  text-align: center;  
  transition: .7s linear;
  box-shadow: 4px 4px 4px 4px #3337;
  overflow: hidden;
  padding-bottom: 230px;
}

.cardsContainer .card img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-bottom: 15px;
  object-fit: cover;
}

.cardsContainer .card h2 {
  color: var(--text-black);
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 15px;
  text-decoration: underline var(--text-underline) 10px;
  margin-bottom: 15px;
}

.cardsContainer .card h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: var(--text-semiBlack);
  font-style: italic;
  font-weight: 100;
}

.main .showMore {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .showMore button,
.cardsContainer button {
  position: relative;
  padding: 12px 17px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 700;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.cardsContainer button {
  background: var(--button-bg);
  color: var(--button-text);
}

.main .showMore button {
  background: var(--bg-black);
  color: var(--text-yellow);
  border: 2px solid var(--border-yellow);
}

.main .showMore button:hover {
  color: var(--text-black);
  border: 2px solid var(--border-black);
}

.cardsContainer button:hover {
  color: var(--button-text-hover);
  border: 2px solid var(--button-border-hover);
}

.main .showMore button::before,
.cardsContainer button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: .5s;
  animation: manipActiveHover .5s forwards; 
  animation-delay: 4s;
  pointer-events: none;
}

.cardsContainer button::before {
  background: var(--button-bg-before);
}

.main .showMore button::before {
  background: var(--bg-yellow);
}

.main button:hover::before,
.cardsContainer button:hover::before {
  width: 100%;
}

/* Animation Logo */
@keyframes manipActiveHover {
  100% {
    pointer-events: auto;
  }
}

@media (max-width: 500px) {
  .cardsContainer {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}