/* General */
body {
  margin: 0;
  padding: 0;
}

.main {
  padding-left: 5%;
  margin-top: 150px;
  display: flex;
  height: 100%;
}

/* leftContainer */
.main .leftContainer {
  padding: 30px 100px 0 0;
  width: 50%;
}

.main .leftContainer .containerInfo {
 display: flex;
 gap: 12%;
 flex-wrap: wrap;
}

.main .leftContainer .containerInfo .icons {
 margin-left: 10px;
}

.main .leftContainer h2 {
  font-size: 30px;
  margin-bottom: 30px;
}

.main .leftContainer h3 {
  text-decoration: underline var(--text-underline) 10px;
}

.main .leftContainer p {
  color: var(--text-semiBlack);
  padding: 10px 0;
  font-style: italic;
  font-weight: 100;
  margin-bottom: 30px;
}

/* Iconos  */
.leftContainer .icons a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid var(--text-black);
  border-radius: 50%;
  font-size: 20px;
  color: var(--text-black);
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
  margin-right: 20px;
  margin-top: 10px;
}

.leftContainer .icons a:hover {
  color: var(--text-yellow);
  border: 2px solid var(--social-border-hover);
}

.leftContainer .icons a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--text-black);
  z-index: -1;
  transition: .5s;
}

.leftContainer .icons a:hover::before {
  width: 100%;
}

/* rightContainer */
.main .rightContainer {
  padding: 30px 60px;
  margin-right: 3%;
  width: 50%;
  background: var(--bg-white);
}

.main .rightContainer form {
  display: flex;
  flex-direction: column;
}

.main .rightContainer form h3, 
.main .rightContainer form input, 
.main .rightContainer form textarea {
  margin-bottom: 40px;
}

.main .rightContainer form h3 {
  font-weight: 600;
  font-size: 30px;
  text-decoration: underline var(--text-underline) 10px;
}

.main .rightContainer form input {
  height: 30px;
  padding: 7px 15px;
}

.main .rightContainer form textarea {
  height: 90px;
  padding: 7px 15px;
}

.main .rightContainer div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Button Submit */
.main .rightContainer .buttonSubmit {
  position: relative;
  width: 200px;
  padding: 12px 17px;
  font-size: 15px;
  cursor: pointer;
  background: var(--button-bg);
  color: var(--button-text);
  font-weight: 700;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.main .rightContainer .buttonSubmit:hover {
  color: var(--button-text-hover);
  border: 2px solid var(--button-border-hover);
}

.main .rightContainer .buttonSubmit::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--button-bg-before);
  z-index: -1;
  transition: .5s;
  animation: manipActiveHover .5s forwards; 
  animation-delay: 4s;
  pointer-events: none;
}

.main .rightContainer .buttonSubmit:hover::before {
  width: 100%;
}

/* Animation Logo */
@keyframes manipActiveHover {
  100% {
    pointer-events: auto;
  }
}

/* Resposive */
@media (max-width: 851px) {
  .main {
    display: flex;
    flex-wrap: wrap;
  }

  .main .leftContainer {
    width: 100%;
    padding-right: 5%;
  }

  .main .rightContainer {
    width: 100%;
    margin-right: 5%;
    margin-top: 30px;
  }
}