body {
  margin: 0;
  padding: 0;
}

/* Containers */
.main {
  padding-left: 5%;
  margin-top: 150px;
  padding-bottom: 100px;
  display: flex;
  height: 100%;
  background: var(--bg-semiBlack);
  color: var(--text-white);
}

.main .leftContainer {
  padding: 60px 100px 0 0;
  width: 50%;
}

.main .centerContainer {
  padding: 110px 10px 0 20px;
  width: 30%;
}

.main .rightContainer {
  padding: 110px 15px 0 10px;
  width: 30%;
}

/* leftContainer */
.main .leftContainer img {
  width: 70px;
  height: 60px;
  border-radius: 100%;
}

.main .leftContainer p {
  color: var(--text-white);
  padding: 10px 0;
  font-style: italic;
  font-weight: 100;
}

/* Iconos  */
.homeSci {
  margin: 20px 0;
}

.homeSci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid var(--social-border);
  border-radius: 50%;
  font-size: 20px;
  color: var(--social-text);
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
  margin-right: 20px;
}

.homeSci a:hover {
  color: var(--social-text-hover);
}

.homeSci a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--social-bg-before);
  z-index: -1;
  transition: .5s;
}

.homeSci a:hover::before {
  width: 100%;
}

/* centerContainer */
.main .rightContainer h3,
.main .centerContainer h3 {
  padding: 10px 0;
  font-weight: 600;
  font-size: 20px;
  text-decoration: underline var(--text-underline) 10px;
}

.main .rightContainer p,
.main .centerContainer p {
  color: var(--text-white);
  padding: 10px 0;
  font-style: italic;
  font-weight: 100;
}

/* rightContainer */
.main .rightContainer .dayTitle {
  color: var(--text-white);
  font-weight: 900;
}

/* Responsive */
@media (max-width: 900px) {
  .main {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .main .rightContainer {
    padding: 50px 10px 0 20px;
  }
  
}

@media (max-width: 667px) {
  .main .centerContainer {
    padding: 50px 10px 0 20px;
  }

  .main .leftContainer {
    padding: 50px 10px 0 10px;
    width: 100%;
  }
}

@media (max-width: 530px) {
 .main .rightContainer {
    width: 50%;
  }
}

@media (max-width: 430px) {
 .main .centerContainer {
    width: 100%;
  }
  .main .rightContainer {
    width: 100%;
  }
}