.containerPrices {
  margin-top: 100px;
  margin-bottom: 30px;
  color: var(--text-black);
}

.containerPrices h1 {
  padding-left: 5%;
  margin-top: 30px;
  text-decoration: underline var(--text-underline) 10px;
  font-size: 30px;
}

/* Section Cards */
.cardsContainer {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 5%;
  padding-right: 5%;
  color: var(--text-black);
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 90%;
}

.card,
.card2, 
.card3 {
  border: 1px solid var(--border-black);
  background: var(--bg-white);
  padding: 0 0 40px 0;
  text-align: center;  
  transition: .7s linear;
  box-shadow: 5px 5px 5px 5px #3337;
}

.card img,
.card2 img,
.card3 img {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 15px;
}

.cardsContainer h2 {
  color: var(--text-black);
  font-weight: 900;
  font-size: 25px;
  margin-bottom: 15px;
  text-decoration: underline var(--text-underline) 10px;
}

.cardsContainer h3, 
.cardsContainer p {
  color: var(--text-semiBlack);
  padding: 10px 0;
  font-style: italic;
  font-weight: 100;
}

.cardsContainer h3 {
  font-size: 25px;
}

.cardsContainer span {
  font-size: 45px;
  color: var(--text-black);
  margin: 0 10px;
}

.cardsContainer p {
  font-size: 18px;
}

.main h1 {
  padding-left: 5%;
  margin-top: 100px;
  text-decoration: underline var(--text-underline) 10px;
}

.cardsContainer .card .personalTrainer, 
.cardsContainer .card2 .personalTrainer, 
.cardsContainer .card .extraActivity, 
.cardsContainer .card2 .extraActivity {
  text-decoration: line-through;
  opacity: .5;
}

.cardsContainer .card .cycling, 
.cardsContainer .card .weightLossPlan {
  text-decoration: line-through;
  opacity: .5;
}

.cardsContainer button {
  position: relative;
  margin-top: 20px;
  padding: 12px 17px;
  font-size: 18px;
  cursor: pointer;
  background: var(--button-bg);
  color: var(--button-text);
  font-weight: 700;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.cardsContainer button:hover {
  color: var(--button-text-hover);
  border: 2px solid var(--button-border-hover);
}

.cardsContainer button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--button-bg-before);
  z-index: -1;
  transition: .5s;
  animation: manipActiveHover .5s forwards; 
  animation-delay: 4s;
  pointer-events: none;
}

.cardsContainer button:hover::before {
  width: 100%;
}

/* Animation Logo */
@keyframes manipActiveHover {
  100% {
    pointer-events: auto;
  }
}